#password-manager {
  text-align: center;
}

#header {
  background:#ddd;
  color:blue;
  padding: 1em;
}

#body {
  padding: 1em;
}

#items {

}

.item {
  padding:1em;
  border: 1px solid black;
  width: 500px;
  margin: auto;
  margin-bottom:10px;
  text-align:left;
}

.what {

}

.where {

}

.userName {

}

.password {

}
